Image {
	border-width: 2;
	border-color: #93937f;
	border-radius: 5;
	margin: 5;
}

Label {
	font-size: 14;
	vertical-align: center;
	margin-left: 15;
}

#title {
	font-size: 20;
	text-decoration: bold;
}

#watched {
	height:40;
	font-size:10;
	color: black;
	background-color: #fad417;
	vertical-align: center;
	float: right;
	border-radius: 20;
}

#cell {
	background-color: #c7e4e8;
	border-width: 1;
	border-color:gray;
}