.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 42;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.image {
	border-width: 2;
	border-color: #93937f;
	border-radius: 5;
	margin: 5;
}
