

Label {
	font-size: 14;
	color:white;
	text-decoration: bold;
	vertical-align: center;
	margin-left: 15;
}

.movie-title {
	font-size: 20;
	text-decoration: underline;
}

.watched {
	height:40;
	font-size:10;
	color: black;
	background-color: #fad417;
	vertical-align: center;
	float: right;
	border-radius: 20;
}

.cell {
	background-color: #555555;
	border-width: 1;
	border-color:gray;
}
