.movieTitle {
	font-size: 20;
    color: #fbfcb5;
    text-decoration: underline;
    vertical-align: center;
    margin-left: 10;
}

.watched {
	height:40;
	font-size:10;
	color: black;
	background-color: #fad417;
	vertical-align: center;
	float: right;
	border-radius: 20;
}

TextField {
	background-color: #ad9f8c;
	color: #fbfcb5;
}

.movieInfo {
    font-size: 14;
    color: #fbfcb5;
    text-decoration: bold;
    vertical-align: center;
    margin-left: 10;
}

#mainScreen {
	background-color: #ad9f8c;
}
