/*Label {
	font-size: 18;
	color: #555555;
}*/

Label {
    font-size: 18;
    color: #555555;
    text-decoration: bold;
    vertical-align: center;
    margin-left: 10;
}

TextView {
	font-size: 18;
	color: #fbfcb5;
	padding:15;
	height: 100;
}

.textLabel {
	color: #fbfcb5;
	padding:15;
}

.sliderLabel {
	color: #fbfcb5;
	padding:15;
	horizontal-align:center;
}

.expButtons {
	margin-bottom:15;
	margin-top:5;
	height:50;
	font-size:24;
	color: #555555;
	background-color: #555555;
	vertical-align: center;
	border-radius: 25;
}

#title {
	font-size: 22;
    horizontal-align:center;
}

#image {
	height: 150;
}